.list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.item{
    border: 1px solid purple;
    padding: 0.2em 0.8em;
    margin: 5px;
    color: orchid;
    font-weight: bold;
    cursor: pointer;
}

